{% extends 'base.html.twig' %}

{% block title %}Bateam créateur de logiciel {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    th{width:20%;font-family:arial;border:1px solid black;text-align:center;} td{border:1px solid black;text-align:center;}
    input{width:30%;height:40px;} .button {margin-left:40%;width:900px;} .tir,.dic,.dir{height:40px;cursor:pointer;border-radius:10px;background:#15A1F1;
    border:2px solid #15A1F1;font-size:16px;color:white;} #pak{display:none;position:absolute;top:0;left: 0;width:100%;height: 100%;background-color: black;z-index:1;opacity: 0.7;}
    #results,#result,#resul,#country{padding:2%;width:30%;position:absolute;top:100px;left:30%;height:300px;font-size:15px;background:white;display:none;z-index:3} .movie{font-size:13px;}
    #pays{height:40px;}
</style>

 <div class="example-wrapper">
   
   <h1>Effectuer des recherches sur le nom du fil ou réalisateur du film</h1>

   <div class="button"> Statistique<button type="button" class="dir"> films les plus visitées</button> 
   <button type="button" class="dic">Avec le meilleur radio</button> <button type="button" class="tir">Meilleur moyenne de diffusion</button></div>

   <form method="post" action="" id="form_search">

   <input type="text" id="search" name="search" placeholder="Entrer le nom  ou le rélisateur du film"/>

   </form>

   <div id="select">
   <select name="pays" id="pays">
   {% for movies in pays %}
   
   <option value="{{ movies }}"> {{ movies }} </option>

   {% endfor %}
   </select>

   </div>

   <div id="resultats_search"></div>
   <div id="country"></div><!--afficher les film par pays identiques -->
   <div id="results"></div><!--retour ajax les top 5 films les plus consultés -->
   <div id="result"></div><!-- retour ajax des fils avec le radios -->
    <div id="resul"></div><!-- retour ajax des fils avec le radios -->
   <div id="pak"></div><!--afficher un fond noir pour la pop-->
   

   <h2>Listes des informations sur les réalisateurs</h2>
   <table id="movies_list">
   <th>Nom du film</th>
   <th>réalisateur</th>
   <th>Année de production</th>
   <th>Nationnalité</th>
   <th>Dernière diffusion</th>
    {% for movies in response %}
          <tr>
            <td>{{ movies.nom }}</td>
            <td>{{ movies.realisateur}}</td>
            <td>{{ movies.anneeProduction}}</td>
            <td>{{ movies.nationalite }}</td>
            <td>{{ movies.derniereDiffusion}}</td>
            </tr>
    {% endfor %}
 </table>
   
 </div>
{% endblock %}

 {% block javascripts %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/2.1.6/jquery.cycle2.min.js"></script>  
     <script src="{{ asset('js/search.js') }}"></script>
    
     {% endblock %}
   
  